[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
django-dotenv = "*"
django-redis = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
raven = "*"
shortuuid = "*"
uwsgi = "*"
werkzeug = "*"
whitenoise = "*"
mw-category-members = "*"
lxml = "*"
requests = "*"
huey = "*"
feedparser = "*"
get-retries = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.6"
