{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

<h1 class="title has-text-centered">
    <a href="/">
        RSS.vis.one
    </a>
</h1>
<!-- <h2 class="subtitle">Subtitle</h2> -->
<form action="/" method="get">
    <input class="input" type="text" placeholder="Text input" name="q" {% if query %} value="{{query}}" {% endif %}>
    <input type="submit">
</form>

<br>

{% for r in results %}
<div>
    <h3 class="is-3"> <a href="{{ r.url }}">{{ r.title }}</a></h3>
    <small><a href="{{ r.link }}">{{ r.link }}</a></small>
    <p>{{ r.description }}</p>
    <p>{{ r.version }}</p>
    <a href="/feeds/{{ r.website.slug}}">alle Feeds der Seite</a>
    <br><br>

</div>
{% endfor %}

{% endblock %}
